/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer utilities {
  .bg-wave {
    background-image: url(https://res.cloudinary.com/dialogue-radio/image/upload/v1622023285/wave_p672kt_bpiryo.svg);
    background-repeat: repeat-x;
    background-position-y: 330px;
    background-position-x: center;
    background-size: 2124px 300px;
    background-color: #FFC700;
    height: 576px;
  }
  .d-symbol {
    position: relative;
    padding-left: 1.3rem;
  }
  .d-symbol::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFCC15;
    border-radius: 0 50% 50% 0;
  }
  .d-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 1.5rem;
  }
  .d-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 0 9999px 9999px 0;
  }
  .tag-symbol::before {
    content: "#";
    color: #fff;
    font-weight: bold;
    margin-right: 0.4rem;
  }
  .title-border:before,
  .title-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #ccc;
  }
  .title-border:before {
    margin-right: 1rem;
  }
  .title-border:after {
    margin-left: 1rem;
  }
  .nav-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .nav-underline::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 0 9999px 9999px 0;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  .nav-underline:hover::after {
    transform: scale(1, 1);
  }
  .header-keep {
    height: 97px;
  }
  @variants responsive {
    .badge-layout {
      position: absolute;
      top: -8px;
      right: -8px;
    }
    .badge-layout-lg {
      position: absolute;
      top: -13px;
      right: -13px;
    }
    .badge-base {
      position: relative;
      width: 50px;
      height: 50px;
    }
    .badge-base-lg {
      position: relative;
      width: 65px;
      height: 65px;
    }
    .bage-src {
      background: url(https://res.cloudinary.com/dialogue-radio/image/upload/v1622029689/badge_smrpzk.svg) no-repeat;
    }
    .badge-bg {
      position: absolute;
      background-size: auto 50px;
      width: 50px;
      height: 50px;
      animation: rotate-anime 8s linear infinite;
    }
    .badge-bg-lg {
      position: absolute;
      background-size: auto 65px;
      width: 65px;
      height: 65px;
      animation: rotate-anime 8s linear infinite;
    }
    .badge-label {
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
  @keyframes rotate-anime {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(360deg);}
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
  blockquote {
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    line-height:1.6;
    position: relative;
    background:#f6f6f6;
  }
  blockquote:before {
    font-family:Arial;
    content: "\201C";
    color: #FFC700;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
}
