/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer utilities {
  .bg-wave {
    background-image: url(https://res.cloudinary.com/dialogue-radio/image/upload/v1617867132/wave_p672kt.svg);
    background-repeat: repeat-x;
    background-position-y: 330px;
    background-position-x: center;
    background-size: 2124px 300px;
    background-color: #FFCC15;
    height: 576px;
  }
  .d-symbol {
    position: relative;
    padding-left: 1.3rem;
  }
  .d-symbol::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFCC15;
    border-radius: 0 50% 50% 0;
  }
  .d-underline {
    position: relative;
    padding-bottom: 0.8rem;
  }
  .d-underline::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 14px;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    opacity: 50%;
    border-radius: 0 10px 10px 0;
  }
  .tag-symbol::before {
    content: "#";
    color: #fff;
    font-weight: bold;
    margin-right: 0.4rem;
  }
}
