/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer utilities {
  .specific-font {
    font-family: 'Poetsen One', sans-serif;
  }
  .bg-wave {
    background-image: url(https://res.cloudinary.com/dialogue-radio/image/upload/v1617867132/wave_p672kt.svg);
    background-repeat: repeat-x;
    background-position-y: 330px;
    background-position-x: center;
    background-size: 2124px 300px;
    background-color: #FFCC15;
    height: 576px;
  }
}
